<!--ここから記事部分-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="nav flex-column d-none d-md-block">
        <a class="nav-link active" href="#">アクティブ</a>
        <a class="nav-link" href="#">リンク1</a>
        <a class="nav-link" href="#">リンク2</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">無効</a>
      </nav>
    </div>
    <div class="col-md-7">
      <% @articles.each do |article| %>
        <div class="row">
          <div class="card col-md-12">
            <div class="card-group">
              <div class="card">
                <div class="img-thumbnail mt-1">
                  <%= image_tag(article.image.to_s,:class =>"card-img-top article-img") %>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= article.title %></h4>
                  <p class="card-text"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                  <%= link_to "みる",article_path(article), :class =>"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <nav class="nav flex-column d-none d-md-block">
        
      </nav>
    </div>
  </div>
  <div class="mt-5">
    <%= paginate @articles %>
  </div>
</div>
<!--ここまで記事部分-->


