<!--ここからナビバー-->
<!--<div class="container-fluid">-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">-->
<!--    <a class="navbar-brand" href="#">Stella Blog</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
  
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="form-inline my-2 my-lg-0">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </nav>-->

<!--ここまでナビバー-->

<!--ここからジャンボトロン-->
<!--  <div class="jumbotron jumbotron-fluid">-->
<!--    <h1 class="display-4 jumbotron-h1 text-light text-center">Stella blog</h1>-->
<!--    <p class="lead text-light text-center">ポートフォリオ兼ブログ</p>-->
<!--  </div><!-- /.jumbotron -->
<!--</div>-->
<!--ここまでジャンボトロン-->

<!--ここから記事部分-->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-nav affix" role="complementary">
        <ul class="nav">
          <li><a href="#">一番上</a></li>
          <li><a href="#bottom">一番下</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <% @articles.each do |article| %>
        <!--<div class="row">-->
        <!--  <div class="card col-md-4">-->
        <!--    <div class="img-thumbnail mt-1">-->
        <!--      <%= image_tag(article.image.to_s,:class =>"card-img-top article-img") %>-->
        <!--    </div>-->
        <!--    <div class="card-body">-->
        <!--      <h5 class="card-title"><%= article.title %></h5>-->
        <!--      <p class="card-text"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>-->
        <!--      <%= link_to "みる",article_path(article), :class =>"btn btn-primary" %>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->
        <div class="row">
          <div class="card col-md-12">
            <div class="card-group">
              <div class="card">
                <div class="img-thumbnail mt-1">
                  <%= image_tag(article.image.to_s,:class =>"card-img-top article-img") %>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= article.title %></h4>
                  <p class="card-text"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                  <%= link_to "みる",article_path(article), :class =>"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <div class="sidebar-nav affix" role="complementary">
        <ul class="nav">
          <li><a href="#">一番上</a></li>
          <li><a href="#bottom">一番下</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <%= paginate @articles %>
  </div>
</div>
<!--ここまで記事部分-->


