<!--ここから記事部分-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <nav class="nav flex-column d-none d-md-block">
        <a class="nav-item" href="#">
          <img src="assets/rubyonrails.png" class="img-fluid border border-secondary mb-1">
        </a>
        <a class="nav-item" href="#">
          <img src="assets/camera.png" class="img-fluid border border-secondary mb-1">
        </a>
        <a class="nav-item" href="#">
          <img src="assets/game.png" class="img-fluid border border-secondary mb-1">
        </a>
      </nav>
    </div>
    <div class="col-md-7">
      <% @articles.each do |article| %>
        <div class="row">
          <div class="col-md-12">
            <div class="card-group mb-2">
              <div class="card">
                <div class="img-thumbnail border-0">
                  <%= image_tag(article.image.to_s,:class =>"card-img-top article-img") %>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= article.title %></h4>
                  <p class="card-text"><%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
                  <%= link_to "see more...",article_path(article), :class =>"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <nav class="nav flex-column d-none d-md-block">
        
      </nav>
    </div>
  </div>
  <div class="mt-5">
    <%= paginate @articles %>
  </div>
</div>
<!--ここまで記事部分-->


