<div class="form">
  <%= form_for @article do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title%>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.submit "送信" %>
  <% end %>
</div>